p {
    color: white;
    /* background-color:rgb(39, 60, 99)*/
}
*{
    background-color: rgb(162, 166, 185);
    color: white;
    font-family: Arial;
}
li {
    background-color:rgb(34, 42, 85)
}

h1,h2,h3 {
    color: rgb(255, 255, 255);

}
h1{
    text-align: center;
}
